.post {
  h2 {
    margin-bottom: 0;
  }

  a {
    color: #ff284d;
    font-size: 0.9rem;
    text-decoration: none;
  }

  a:hover {
    color: #cc203d;
  }

  p {
    font-family: "IBM Plex Mono", monospace;
  }

  blockquote {
    font-style: italic;
  }
}

.author {
  font-size: 0.8rem;
  font-style: italic;
}

.back {
  font-style: italic;
  margin-top: 3rem;
}
