.post {
  h2 {
    margin-bottom: 0;
  }

  a {
    color: #999999;
    font-size: 0.9rem;
    text-decoration: none;
  }

  a:hover {
    color: #666666;
  }
}

.author {
  font-size: 0.8rem;
}

.back {
  font-style: italic;
  margin-top: 3rem;
}
