.post {
  h1 {
    margin-bottom: 0.25rem;
  }

  h2 {
    margin-top: 5rem;
  }

  a {
    color: #ff284d;
    text-decoration: none;
  }

  a:hover {
    color: #cc203d;
  }

  p,
  li {
    font-family: "Georgia", serif;
  }

  blockquote {
    font-style: italic;
  }

  .tags {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  .tag {
    margin-right: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

.author {
  font-style: italic;
  font-size: 0.9rem;
}

.back {
  margin-top: 3rem;
  color: #e8e8e8;
}

.back:hover {
  color: #cc203d;
}
