.about {
  font-family: "Georgia", serif;
  a {
    color: #ff284d;
    text-decoration: none;
  }

  a:hover {
    color: #cc203d;
  }
}

hr {
  border: 0;
  border-bottom: 1px dashed #747474;
  background: #252525;
  margin: 2.5rem 0;
}
