.description {
  font-family: "Georgia", serif;
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  a {
    color: #e8e8e8;
    display: block;
    padding: 1rem 0 0 1rem;
    text-decoration: none;
  }

  a:hover {
    color: #cc203d;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    color: #b9b9b9;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 0 1rem 1rem;
  }
}
