.posts {
  margin: 1rem 0;
  a {
    color: #ff284d;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    color: #cc203d;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
}
