.header {
  padding: 1rem 0 1.5rem;
  h1 {
    margin-bottom: 0.6rem;
  }
  font-family: "Heebo";
}

.title {
  color: #e8e8e8;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #e8e8e8;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #cc203d;
}

.active-nav-item {
  color: #a3a3a3;
}
